<section class="d-flex flex-column align-items-center container mt-5">
  <h1 class="text-uppercase">Cart Info</h1>
  <!-- if the length of product is 0 so the cart is empty will show this  -->
  <ng-container *ngIf="productDetails.length == 0">
    <img
      src="../../assets/confusing-woman-due-to-empty-cart-4558760-3780056.webp"
      class="emptyCart"
      alt="empty cart"
    />
    <a routerLink=""> Shop Now! </a>
  </ng-container>

  <!-- if the length of product is not 0 so the cart is not empty will show this cart info -->
  <ng-container *ngIf="productDetails.length != 0">
    <table class="table bg-light rounded-1 shadow">
      <thead class="text-uppercase">
        <tr>
          <th scope="col">item.No</th>
          <th scope="col">image</th>
          <th scope="col">price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          id="{{ product.id }}"
          *ngFor="let product of productDetails; let i = index"
        >
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <img [src]="product.image" alt="productDetails.name" />
          </td>
          <!-- price will be the item price * quantity to be updated when increasing or decreasing quantity  -->
          <td>{{ product.price * product.quantity }}</td>
          <td>
            <!-- passing the index of item to increae or decrease the clicked item  -->
            <button class="increase" (click)="decreaseCounter(i)">
              <i style="color: red" class="me-2 bi bi-dash-lg"></i>
            </button>

            {{ product.quantity }}
            <button class="decrease" (click)="increaseCounter(i)">
              <i style="color: green" class="ms-2 bi bi-plus-circle"></i>
            </button>
          </td>
          <td>
            <!-- button to delete selected item from the cart  -->
            <button class="btn btn-danger" (click)="removeItem(product)">
              <i class="bi bi-trash3"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="totalPrice rounded-1 ms-auto shadow d-flex align-items-center justify-content-between"
    >
      <h3>
        Total Price is : <span class="fs-2"> {{ totalPrice }} </span>
      </h3>
      <div>
        <!-- button to route to home page  -->
        <button
          class="btn me-2 fs-5 fw-bold shopMore__btn"
          (click)="routeToHome()"
        >
          Shop More
        </button>
        <!-- button to delete all the cart  -->
        <button class="btn btn-danger" (click)="removeAllItems()">
          Remove All Items
        </button>
      </div>
    </div>
  </ng-container>
</section>
