@import "~bootstrap-icons/font/bootstrap-icons.css";


:root {
  --main-color: #e98b2c;
  --dark: #1b1b22;
  --dark-light: #32323a;
  --white: #fff;
  --white-light: #c8c8c8;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--dark);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a:hover {
  color: var(--main-color);
}

li {
  list-style: none;
}
